<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- meta seo tag -->
  {% seo %}

  <!-- Favicon (Browser Tab & Google Sidebar) -->
  <link rel="icon" type="image/png" sizes="48x48" href="/assets/images/favicon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  
  <!-- Apple Touch Icon (Shortcut Layar Utama HP) -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">

  <!-- Preload LCP -->
  <link rel="preload" as="image" href="{{ '/assets/images/hero-banner.webp' | relative_url }}" fetchpriority="high">
  
  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>